.wrapper {
    width: 1080px;
    height: 90vh;
    border: 1px solid;
    border-radius: 5px;

    margin: auto;
}

.frontbanner {
    width: 600px;
    height: 290px;
    
    border: 1px solid;
    border-radius: 5px;

    margin: auto;
}

.buttonbox {
    border: 1px solid;
    border-radius: 5px;

    width: 600px;
    height: 100px;

    margin: auto;

    display: flex;
}

.button {
    margin: auto;
    background-color: #4E57DE;

    color: white;

    width: 200px;
    height: 60px;

    border: 1px solid;
    border-radius: 5px;
}

.backcontents {
    border: 1px solid;
    border-radius: 5px;

    width: 600px;
    height: 200px;
    margin: auto;
}