.wrapper {
    width: 820px;
    border: 2px solid;
    border-radius: 5px;

    margin: auto;
}

.headbox{
    width: 800px;
    height: 120px;

    border: 2px solid;
    margin: 10px auto 0px auto;

    display: flex;
    align-items: center;
}

.retbutton{
    margin-left: 10px;
    width: 80px;
    height: 80px;

    font-size: 24px;
}

.headtext{
    font-size: 24px;
    font-weight: bold;
}

.headtextbox{
    width: 600px;

    text-align: center;
}

.listbox{
    width: 800px;

    border: 2px solid;

    margin: 10px auto 20px auto;

}
