
.itembox{
    width: 780px;
    height: 180px;

    border: 2px solid;
    margin: 5px auto 5px auto;

    display: flex;
    align-items: center;
}

.itemimagebox {
    width: 144px;
    height: 144px;

    border: 2px solid;
    border-radius: 5px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.itemdiscriptionbox {
    width: 600px;
    height: 144px;

    border: 2px solid;
    border-radius: 5px;
    margin: auto;
}

.discriptiontext{
    margin-left: 10px;
}