.wrapper {
    width: 820px;
    min-height: 750px;

    border: 2px solid;
    border-radius: 5px;

    margin: auto;
}

.headbox {
    width: 800px;
    height: 120px;

    border: 2px solid;
    border-radius: 5px;

    margin: 10px auto 0px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headboxbutton {
    width: 96px;
    height: 96px;
}

.headboxtext {
    width: 580px;
    height: 96px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.headboxtextonRead {
    width: 680px;

    font-size: 36px;
    font-weight: bold;
}
.imagebox {
    width: 800px;
    height: 400px;

    border: 2px solid;
    border-radius: 5px;

    margin: 5px auto 0px auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titlebox {
    width: 800px;
    height: 30px;
    
    margin: 5px auto 0px auto;
}

.titleinput {
    width: 800px;
    height: 30px;

    border-radius: 5px;
}
.categoryandfeebox {
    display: flex;
}

.categorybox {
    
    margin: 5px auto 0px auto;
}
.categorydropdown {
    width: 300px;
    height: 36px;

    color: black;
    background-color: white;
    border: 2px solid black;
}

.feebox {
    width: 300px;
    height: 36px;
    
    margin: 5px auto 0px auto;
}

.feeinput {
    width: 300px;
    height: 36px;

    border-radius: 5px;
}

.contentsbox {
    width: 800px;
    
    margin: 5px auto 5px auto;
}

.contentsinput {
    width: 800px;
    height: 600px;

    border-radius: 5px;
}

.contentdescrip{
    width: 800px;
    min-height: 400px;
    
    border: 2px solid black;
    border-radius: 5px;
}

.tutorinfobox {
    width: 800px;
    height: 104px;

    margin: 5px auto 5px auto;
    border: 2px solid black;

    display: flex;
}

.tutorimagebox{
    width: 96px;
    height: 96px;

    margin: 2px 5px 2px 5px;

    border: 2px solid black;
    border-radius: 5px;

}

.tutordiscripbox {
    width: 600px;
    height: 96px;
    
    margin: 2px 5px 2px 5px;
    
    border: 2px solid black;
    border-radius: 5px;
}

.menubox {
    width: 800px;
    height: 102px;
    
    border: 2px solid black;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px auto 5px auto;
}

.favbutton {
    width: 200px;
    height: 80px;

    font-size: 36px;

    position:relative;
    transform: translateX(-80%);
}

.chatbutton {
    width: 200px;
    height: 80px;
    
    font-size: 36px;
    
    position:relative;
    transform: translateX(80%);
}